# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.venv

# FastAPI
.env
.env.local

# Database
*.db
*.sqlite

# Logs
*.log

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/
